
.Hed{
  
  max-width: 1600px;
  min-height: 200px;
  position: relative;
  
margin: 0 auto;
}
/*Телефон с фото*/
.Hed_1 {
  width: 500px;
  height: 250px;
  background-color: transparent;
  color: rgb(113, 113, 114);
  font-weight: 500;
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 66;
  padding:20px 90px;
  text-align: right;
  transition: transform 2s;
}

.Hed_1:hover {

  transform: scale(1.1);

}
.address{

  padding-top: 15px;
  float: left;

}
.address-text {
  color:rgb(39, 4, 144);
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}

/*Кнопки меню о нас и прайс*/
.Hed_3 {
  display: flex;
  font-weight: 600;
  font-size: 26px;
  max-width: 1250px;
  margin: 0 auto;
  height: 80px;
  text-decoration: none;
  cursor: pointer;
  max-height: 80px;
  margin-top: 50px;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: rgb(209, 211, 211);
}




#z1,
#z2 {
  
  text-decoration: none;
  color: rgb(39, 4, 144);
  padding-right: 40px;
}

#z2:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}

#z1:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}




#z3 {

  display: flex;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(39, 4, 144);

}

#z3:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}



.foto_modal {
  margin-top: 5px;

}

/*Фото машинка*/
.Hed_2 {
  background-image: url('../image/svg/logo1111112.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5%;

  padding-top: 8%;
  height: 80px;

}



