


@media only screen and (max-width: 600px) {
  .dropdown-menu ul {
      display: block;
  }
}
.Hed{
  
  max-width: 100%;
  min-height: 200px;
  position: relative;
  
margin: 0 auto;
}
/*Телефон с фото*/
.hed-1 {
  max-width: 500px;
  max-height: 250px;
  background-color: transparent;
  color: rgb(113, 113, 114);
  font-weight: 500;
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 66;
  padding-top: 20px;
  padding-right: 125px;
  text-align: right;
  transition: transform 2s;
}

.hed-1:hover {

  transform: scale(1.1);

}
.address{

  padding-top: 15px;
  float: left;

}
.address-text {
  color:rgb(39, 4, 144);
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}

/*Кнопки меню о нас и прайс*/
.Hed-3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: 600;
  font-size: 20px;
  max-width: 1250px;
  margin: 0 auto;
  height: 100px;
  text-decoration: none;
  cursor: pointer;
  max-height: 50px;
  margin-top: 50px;
  padding-top: 7px;
  padding-left: 10px;
  border-radius: 10px;
  background-color:rgb(227, 230, 230);
}
@media(max-width:768px){
  .Hed-3{
    justify-content: center;
  }
  .hed-1{
 display: none;

  }
  .Hed-2{
   width: 1200px;
  }
}



#z1,
#z2 {
  
  text-decoration: none;
  color: rgb(39, 4, 144);
  padding-right: 40px;
}

#z2:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}

#z1:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}




#z3 {

  display: flex;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(39, 4, 144);

}

#z3:hover {
  transition: all 1s;
  color: rgb(231, 172, 10);
}



.foto_modal {
  margin-top: 5px;

}

/*Фото машинка*/
.Hed-2 {
  background-image: url('../image/svg/logo1111112.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 5%;
  padding-top: 8%;
  height: 80px;

}



