#content {
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1250px;
  padding-bottom: 100px;
  grid-template: "H H H H"
    "H H H H"
    "B B B B"
    "F F F F";

}

handleExpand_1{
  background-color: #1ad614 !important;
  color: #34ac0f;
  font-size: 50px;
}

.Header {

  width: 100%;
  grid-area: H
}



.Body {

  grid-area: B;
  

}



.Footer {
  grid-area: F;
  height: 200px;
  margin-bottom: 0;
}


@media(max-width:768px){
  .body-fon{
    background-attachment:local;
  }
  .row-text{
 justify-content: center;

  }
  .sec-img{
   display: none;
  }
}

/*Фото скороя помощь основной фон*/

.body-fon{
  background: url('./image/Avto_Fon_2023.jpg') no-repeat top center/contain;

}
.sec-1 {
  border-radius: 10px;
  margin-top: 100px;
  max-width: 1250px;
  height: 200px;
  background-attachment: fixed;
}
@media(max-width:900px){
  .sec-1 {
    background-attachment: none;
    background-position: center;
  }}


.Body {

  text-align: left;
  width: 100%;
  height: auto;
}



/*Выпадающие списки*/
.sec-2 {
  margin: 150px 0px;
  
}

/*Фото справо от вып списка*/
.sec-img {

  background:url('./image/1avto698766655.jpg') no-repeat right center/40%;


}

.row-text {
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 230, 230);
  max-width: 450px;
  min-height:250px;
  border-radius: 15px;
  padding: 20px;
  list-style-type: none;


}

.text-down {
  text-align: left;
  cursor: pointer;
  float: left;
  font: 600 17px / 50px Helvetica;
  line-height: 40px;
  color: rgb(39, 4, 144);
  padding-right: 50px;
  transition: transform 1s;
}
.text-down:hover {
  transform: scale(1.01);
}

  



.open-text-2 {
  font-size: 16px;
  color: rgb(185, 118, 4);
  padding-bottom: 50px;
  padding-left: 40px;
  line-height: 30px;
  font-weight: 400;
}



.img-down {

  background: transparent url('./image/svg/down321.svg') no-repeat right;
  background-size: 7%;


}

/*Настройка скрола*/
::-webkit-scrollbar {
  width: 25px;
  background-color: rgb(250, 250, 252);
  opacity: 1;
  border: 5px solid rgb(172, 170, 170);
}



/*Сам ползунок*/
::-webkit-scrollbar-thumb {
  color: red;
  border: 1px solid black;
  border-radius: 15px;
  background-image: radial-gradient(circle at center, #365BE0, #1c0fac);
  box-shadow: 3px 10px 15px black;

}